{% extends "base.html" %}
{% block title %}{{ extension.name }} - {{ block.super }}{% endblock %}

{% block body %}
    <div class="extension single-page {% block extra-ext-class %}{% endblock %}"
         data-epk="{{ extension.pk }}"
         data-uuid="{{ extension.uuid }}"
         data-svm="{{ shell_version_map }}"
         data-versions="{{ visible_versions }}">
      <div class="extension-header col-xs-12 col-sm-8 col-md-8 col-lg-8 no-padding">
        {% spaceless %}
        {% block icon %}
        <img src="{{ extension.icon.url }}" class="icon">
        {% endblock icon %}
        <h3 class="extension-name" id="extension_name">{{ extension.name }}</h3>
        {% endspaceless %}
        <span class="author">by <a href="{% url 'auth-profile' user=extension.creator.username %}">{{ extension.creator }}</a></span>
      </div>

      <div class="controls col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="switch"></div>
        <div class="extra-buttons">
          <div class="upgrade-button" title="Upgrade this extension"></div>
          <div class="configure-button" title="Configure this extension"></div>
          <div class="uninstall-button" title="Uninstall this extension"></div>
        </div>
      </div>

      <div style="clear: both;"></div>

      <div class="extension-details">
          {% if extension.screenshot %}
              {% block screenshot %}
              <div class="screenshot col-xs-12 col-sm-5 col-md-4 col-lg-3 no-left-padding">
                  <a href="{{ extension.screenshot.url }}"><img src="{{ extension.screenshot.url }}" /></a>
              </div>
              {% endblock screenshot %}

            <div class="col-sm-1 col-md-1 col-lg-1">
            </div>
          {% else %}
              {% block no-screenshot %}
              {% endblock no-screenshot %}
          {% endif %}

        <div class="col-xs-12 col-sm-6 col-md-7 col-lg-8 no-left-padding">
            <p class="description" id="extension_description">{{ extension.description }}</p>

            <dl>
              {% if extension.url %}
              <dt>Extension Homepage</dt>
              <dd><a href="{{ extension.url }}" id="extension_url">{{ extension.url }}</a></dd>
              {% endif %}
            </dl>
            <dl>
              <dt>Download</dt>
              <dd class="extension-download">
                  <select class="shell-version form-control">
                      <option>Shell version…</option>
                  </select>

                  <select class="extension-version form-control">
                      <option>Extension version…</option>
                  </select>
              </dd>
            </dl>
        </div>
      </div>

      {% if not is_visible %}
      <p class="step">
        A reviewer will review the extension you submitted to make sure there's nothing too
        dangerous. You'll be emailed the result of the review.
      </p>
      {% endif %}

      <hr style="clear: both;">

      {% block comments %}
      {% include "extensions/comments.html" %}
      {% endblock comments %}

      {% block extra %}
      {% endblock %}
</div>
{% endblock %}

{% block navclass %}main{% endblock %}
